In [1]:
print("Hello World")

Hello World

In [2]:
the = True
if the:
    print("Be carefull")

Be carefull

In [3]:
2+2

4

In [4]:
50- 5 * 6

20

In [5]:
(50 - 5 * 6) / 4

5.0

In [7]:
8/5 #division always returns a floating - point number

1.6

In [8]:
17/3 # classic division returns a float

5.666666666666667

In [9]:
17 // 3 # flooe division discards the fractional part

5

In [10]:
17%3 # the % operator returns the remainder of the division

2

In [11]:
5*3+2 # floored quotient * divisor + remainder

17

In [12]:
5**2 # ** is used to square

25

In [13]:
2 ** 7 # 2 to the power of 7

128

In [17]:
width = 20 # the equal sign is used to assign a value to a variable.
height = 5 * 9
width * height

900

In [18]:
n # try to access an undefined variable

NameError: name 'n' is not defined

In [19]:
4*3.75 - 1 # there is full dupport for floating point; operators with mixed type operands conver the integer to floating point.

14.0

In [21]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [22]:
price + _ # in interactive mode, the last printed expression is assigned to the variable _ .
#this means that when you are using python as a desk calculator, it's easier to continue calculation.

113.0625

In [23]:
round(_, 2)

113.06

In [24]:
'spam eggs' #single quotes

'spam eggs'

In [25]:
"Paris rabbit got your back :)! Yay!"  # double quotes

'Paris rabbit got your back :)! Yay!'

In [26]:
'1975'  # digits and numerals enclosed in quotes are also strings

'1975'

In [27]:
'doesn\'t'  # use \' to escape the single quote

"doesn't"

In [28]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [30]:
'"Yes," they said.'

'"Yes," they said.'

In [31]:
"\"Yes,\" they said."

'"Yes," they said.'

In [32]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [33]:
# The print() function produces a more readable output, by omitting the enclosing quotes and by printing escaped and special characters:
s = 'First line.\nSecond line.' 
s

'First line.\nSecond line.'

In [34]:
print(s)

First line.
Second line.

In [35]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [36]:
print(r'C:\some\name')  # note the r { raw strings } before the quote

C:\some\name

In [1]:
class ContextManager:
    def __init__(self):
        print('init method called')
        
    def __enter__(self):
        print('enter method called')
        return self
    
    def __exit__(self, exc_type, exc_value, exc_traceback):
        print('exit method called')

with ContextManager() as manager:
    print('with statement block')

init method called
enter method called
with statement block
exit method called

In [2]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [3]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [4]:
'Py' 'thon'

'Python'

In [5]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [9]:
prefix = 'Py'

In [7]:
('un' * 3) 'ium'

SyntaxError: invalid syntax (3357839946.py, line 1)

In [10]:
prefix + 'thon'

'Python'

In [12]:
word = 'Python'

In [ ]:
word[0]  # character in position 0